input[type="radio"] {
    width: 30px;
    padding: 31px;
    line-height: 30px;
}


.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
    & >.table {
        margin-bottom: 0;
        th.quest {
            min-width: 150px;
        }
    }
    &.tabela-aguas {
        padding-left: 200px;
        tr {
            
            height: 133px;
            td:first-child, td:nth-child(2), th:first-child, th:nth-child(2) {
                
    			position: absolute;
    			overflow: hidden;
                height: 133px;
                vertical-align: bottom;
                border-right: 1px solid #ddd;
            }
            td:first-child, th:first-child {
                width: 30px;
                left: 16px;
            }
            td:nth-child(2), th:nth-child(2){
                width: 170px;
                left: 46px;
            }
            th:first-child, th:nth-child(2) {
                padding-top: 65px;
            }
        }
        .chafariz {
            height: 145px !important;
            td {
                height: 145px !important;
            }
        }
		tr:nth-child(even){
			td,th{
				background: white;
			}
		}
    }
    
	&.domicilio{
		padding-left: 191px;
		tr:nth-child(even){
			td,th{
				background: white;
			}
		}
		input[type="text"]{
			width: 155px;
		}
		thead{
			tr{
				height: 131px;
			}
		}
		.headcol{
			position: absolute;
			overflow: hidden;
			border-right: 1px solid #ddd;
			&.headcol-id{
				height: 67px;
				left: 16px;
				width: 27px;
			}
			&.headcol-nome{
				left: 43px;
				height: 67px;
			}
		}
		th{
			background: white;
			&.headcol-id{
				width: 165px;
				padding-top: 65px;
				height: 132px !important;
			}
			&.headcol-nome{
				width: 165px;
				padding-top: 65px;
				height: 132px !important;
			}
		}
	}
    
}
    
#btns-footer{
    margin: 100px 0 400px 0;
}

.linha-marcada {
    td {
        background-color: #b9b8d4 !important;
    }
}