input[type="radio"] {
  width: 30px;
  padding: 31px;
  line-height: 30px; }

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table th.quest {
      min-width: 150px; }
  .table-responsive.tabela-aguas {
    padding-left: 200px; }
    .table-responsive.tabela-aguas tr {
      height: 133px; }
      .table-responsive.tabela-aguas tr td:first-child, .table-responsive.tabela-aguas tr td:nth-child(2), .table-responsive.tabela-aguas tr th:first-child, .table-responsive.tabela-aguas tr th:nth-child(2) {
        position: absolute;
        overflow: hidden;
        height: 133px;
        vertical-align: bottom;
        border-right: 1px solid #ddd; }
      .table-responsive.tabela-aguas tr td:first-child, .table-responsive.tabela-aguas tr th:first-child {
        width: 30px;
        left: 16px; }
      .table-responsive.tabela-aguas tr td:nth-child(2), .table-responsive.tabela-aguas tr th:nth-child(2) {
        width: 170px;
        left: 46px; }
      .table-responsive.tabela-aguas tr th:first-child, .table-responsive.tabela-aguas tr th:nth-child(2) {
        padding-top: 65px; }
    .table-responsive.tabela-aguas .chafariz {
      height: 145px !important; }
      .table-responsive.tabela-aguas .chafariz td {
        height: 145px !important; }
    .table-responsive.tabela-aguas tr:nth-child(even) td, .table-responsive.tabela-aguas tr:nth-child(even) th {
      background: white; }
  .table-responsive.domicilio {
    padding-left: 191px; }
    .table-responsive.domicilio tr:nth-child(even) td, .table-responsive.domicilio tr:nth-child(even) th {
      background: white; }
    .table-responsive.domicilio input[type="text"] {
      width: 155px; }
    .table-responsive.domicilio thead tr {
      height: 131px; }
    .table-responsive.domicilio .headcol {
      position: absolute;
      overflow: hidden;
      border-right: 1px solid #ddd; }
      .table-responsive.domicilio .headcol.headcol-id {
        height: 67px;
        left: 16px;
        width: 27px; }
      .table-responsive.domicilio .headcol.headcol-nome {
        left: 43px;
        height: 67px; }
    .table-responsive.domicilio th {
      background: white; }
      .table-responsive.domicilio th.headcol-id {
        width: 165px;
        padding-top: 65px;
        height: 132px !important; }
      .table-responsive.domicilio th.headcol-nome {
        width: 165px;
        padding-top: 65px;
        height: 132px !important; }

#btns-footer {
  margin: 100px 0 400px 0; }

.linha-marcada td {
  background-color: #b9b8d4 !important; }
